@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

.sp-wrapper pre {
  color: inherit;
  background: none;
  overflow: auto;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

.sp-wrapper p {
  margin: 0;
  padding: 0;
}

.sp-layout {
  border-radius: 0;
}

.sp-layout-bottom {
  border-top: none;
}
