.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 0;
}

.intro h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 1.8rem;
  }
}

.posts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
